<template>
  <div id="app">
<nav class="navbar is-fixed-top is-info">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="./assets/logo.png" alt="" width="28" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a class="navbar-item">
	History
      </a>
      <a class="navbar-item">
	About
      </a>
    </div>
  </div>
</nav>

    <section class="hero is-fullheight has-text-centered" id="hero-form">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Turnip Exchange</h1>
          <HelloWorld />
        </div>
      </div>
    </section>
    <section class="section is-fullheight has-text-centered">
      <div class="container">
        <h1 class="title">Current turnip rates</h1>
        <p>Submitted rates are only valable for the current half day and refreshed every five seconds. Rates will be automatically archived after that.</p>
        <TurnipTable />
        <a href="#hero-form" class="button is-primary">Post your own !</a>
      </div>
    </section>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import TurnipTable from './components/TurnipTable.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    TurnipTable
  }
}
</script>

<style lang="scss">
  @import '~vue-toastr/src/vue-toastr.scss';
  @import 'assets/scss/index.scss';
</style>
