<template>
  <div class="columns is-centered">
    <div class="column is-half">
    <form @submit.prevent="sendRate(form)">
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <input type="number" min="0" step="1" class="input" v-model="form.turnipValue" placeholder="Sell value" />
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded">
              <input type="text" class="input" v-model="form.friendCode" placeholder="Friend code (ie: 1234-5678-9012)" />
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-text-centered">
              <button type="submit" :disabled="!isSubmittable" class="button is-info">Send</button>
            </p>
          </div>
        </div>
      </div>
    </form>
    <p v-if="isSubmittable">You're going to declare a turnip value of {{ form.turnipValue }}.</p>
    <p v-if="!isSubmittable">Please correctly fill the fields to save your turnip exchange rate.</p>
  </div>
  </div>
</template>

<script>
import codeIsValid from '../lib/codeIsValid'

export default {
  data () {
    return {
      form: {
        friendCode: '',
        turnipValue: ''
      }
    }
  },
  computed: {
    codeIsValid () {
      return codeIsValid(this.form.friendCode)
    },
    isSubmittable () {
      return this.codeIsValid && this.form.turnipValue > 0
    }
  },
  methods: {
    sendRate (turnipRate) {
      this.$store.dispatch('postRate', turnipRate)
          .then(res => {
              this.$toastr.s('Rate saved !')
              this.form.friendCode = ''
              this.form.turnipValue = ''
          })
          .catch(err => this.$toastr.e('Your rate has not been saved'))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
