<template>
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Code</th>
        <th>Value</th>
        <th>Added at</th>
        <th>About</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="rate in rates" :key="rate.id">
        <td>{{ rate.friendCode }}</td>
        <td>{{ rate.turnipValue }} bells</td>
        <td><em>{{ format(rate.createdAt, 'HH:mm:ss') }}</em></td>
        <td>
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="tags has-addons">
                <span class="tag">Trust</span>
                <a class="tag is-success" @click="incrementRate(rate)">0 votes</a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import format from 'date-fns/format'

export default {
  computed: {
    rates () {
      return this.$store.state.rates
    }
  },
  methods: {
    incrementRate (rate) {
      rate.votes++
    },
    getRates () {
      this.$store.dispatch('getRates', new Date())
    },
    format
  },
  mounted () {
    this.getRates()
    setInterval(() => {
      this.getRates()
    }, 10000)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
